/*Les liens sont en police noire*/
a {
      color:black;
}

/*--- navigation bar ---*/ 
.navbar {   
	background:	#343a40;
	max-height: 50px; 
} 

.nav-link, .navbar-brand {   
	color:white;   
	cursor: pointer;
} 

.nav-link {   
	margin-right: 1em !important; 
} 

.navbar-collapse {   
	justify-content: flex-end; 
} 

#menu-deroulant a {
      color:black;
}

#menu{
	width:150px;
	margin:20px auto 0 auto;
}

.nav-item button {
	background-color: #343a40;
	border-color: #343a40;
	margin-right: 23px;
	width: 100px;
}

/*barre de recherche*/
.inline-form input {
    display: inline-block;
    width: 500px;
    position: relative;
    margin-top: 17px;
    margin-right: 10px;
    margin-left: 10px;
}

.inline-form button {
    margin-bottom: 2px;
}

/*header*/
.page-header {
	margin: 1em auto;
	padding: 1em;   
	position: relative; 
	max-height: 450px;
	margin-top: 80px;
} 
 
.page-header h1 {   
	color: #6ab446; 
} 

.page-header .list-group {
	width:180px; 
	margin-left: 50px;
}

.features {   
	margin: 1em auto;
	padding: 1em;   
	position: relative; 
} 

#cb {
	margin-right: 5px;
	margin-left: 10px;
}

#description {
	width: 100%;
	padding: 5px;
	border-style: dashed;
	border-radius: 5px;
}

#apop2 a, #apop1 a {
    color:black;
    background-color: white;
    border-color: lightgrey;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
}

.show {
	display:block;
}

.page-footer {   
	background-color: #343a40;   
	color:white; /*couleur police HORS LISTE*/
	padding: 60px 0 30px; 
} 

.page-footer ul {
	list-style-type:none;
}
 
.footer-copyright {   
	color:white;   
	padding: 10px 0; 
} 

/*Les liens sont en police blanche*/
.page-footer a {
      color:white;
}
